{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">
    <div class="row1 row">
        <div class="col-lg-4">
            <span class="sty" style="font-size:50px;">Book your train!</span>
        </div>
        <div class="col-lg-6"></div>
    </div>

<div ng-app="Myapp">

<h1 class="sty" style="font-size:90px;" align="center">Welcome</h1>
	<br><br>

	<form action="logger" style="margin-top:50px;" method="post">

		
		<div class="row"> 

		<div class="col-lg-2"></div>
		<div class="sty2 col-lg-2 col-md-4 col-sm-4">
            <b>First Name</b>
		<br><input type="text" class="input" ng-model="src"/>
		</div>
		<div class="sty2 col-lg-2 col-md-4 col-sm-4">
			<b>Name</b>
		<br><input type="text" class="input" ng-model="dest"/>
		</div>
		<div class="sty2 col-lg-2 col-md-4 col-sm-4">
			<b>Password</b>
		<br><input type="password" class="input" ng-model="dest"/>
		</div>
		<div class="sty2 col-lg-2 col-md-4 col-sm-4">
		<br><input type="submit" value="Submit">
		</form>

		
		</div>

{% endblock %}