{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">
    <div class="row1 row">
        <div class="col-lg-4">
            <span class="sty" style="font-size:50px;">Book your train!</span>
        </div>
        <div class="col-lg-6"></div>
    </div>

<div ng-app="Myapp">
<h1 align="center">What is your next journey?</h1>
	<br><br>

	<div ng-controller="MyController" class="rounded bg-info">

		
		<div class="row"> 

		<div class="col-lg-2"></div>
		<div class="col-lg-2 col-md-4 col-sm-4" >
            <b>From</b>
		<br><input type="text" ng-model="src"/>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-4">
			<b>To</b>
		<br><input type="text" ng-model="dest"/>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-4">
			<b>Date</b>
		<br><input type="text" ng-model="dt" placeholder="DD-MM-YYYY" />
		</div>
		<div class="col-lg-2">
			<br>
			<button type="button" ng-click="submitreq()">Submit</button>
		</div>

		</div>
		
		
		<br/><br/>
		

	</div>

    </div>

{% endblock %}